<header id="header">
    <h1><a href="index.html"><strong><%= title %></strong></a></h1>
    <nav>
        <ul>
            <li><a href="#footer" class="icon fa-info-circle">About</a></li>
        </ul>
    </nav>
</header>